
#content{
 background: white;
 z-index: 2;
font-family: 'Poppins', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 10pt;
}

form.mi-empresa{
  margin-top: 30px;
  font-size: 10pt;
}
form.mi-empresa label{
  margin-top: 10px;
  margin-bottom: 0px;
  color:#21aa45;
  font-weight: 500;
}
form.mi-empresa input{
  outline: none;
  box-shadow: none;
}
form.mi-empresa input:focus{
  outline: none;
  box-shadow: none;
}
form.mi-empresa select:focus{
  outline: none;
  box-shadow: none;
}
form.mi-empresa select{
  padding: 0px 6px;
  height: 35px;
  font-size: 10pt;
}
.fa-user-circle{
  font-size: 110px;
  color: #21aa45;
  margin-bottom: 20px;
}

div.modal-footer{
  padding-top: 20px;
  padding-bottom: 0px;
  border: none;
  justify-content: center;
}
form .guardar-datos{
  border: none;
  padding: 10px 25px;
  margin-top: 20px;
  color: white;
  transition: .3s all ease;
  cursor: pointer;
  margin-right: 15px;
  border-radius: 8px;
  -webkit-box-shadow: 5px 8px 10px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 8px 10px -9px rgba(0,0,0,0.75);
  box-shadow: 5px 8px 10px -9px rgba(0,0,0,0.75);
  background: rgba(33,170,69,1);
  background: -moz-linear-gradient(left, rgba(33,170,69,1) 0%, rgba(44,209,85,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,170,69,1)), color-stop(100%, rgba(44,209,85,1)));
  background: -webkit-linear-gradient(left, rgba(33,170,69,1) 0%, rgba(44,209,85,1) 100%);
  background: -o-linear-gradient(left, rgba(33,170,69,1) 0%, rgba(44,209,85,1) 100%);
  background: -ms-linear-gradient(left, rgba(33,170,69,1) 0%, rgba(44,209,85,1) 100%);
  background: linear-gradient(to right, rgba(33,170,69,1) 0%, rgba(44,209,85,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21aa45', endColorstr='#2cd155', GradientType=1 );
}
form .guardar-datos:hover{
  -webkit-box-shadow: 5px 8px 10px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 8px 10px -9px rgba(0,0,0,0.75);
  box-shadow: 5px 8px 10px -9px rgba(0,0,0,0.75);
}
form .guardar-datos:focus{
  border: none;
  outline: none;
  box-shadow: none;
}

tbody td a i.fa-pencil{
  color:#e5af1e;
  padding: 0px 8px;
}
tbody td a i.fa-remove{
  color:#ef4646;
  padding: 0px 8px;
}

div.modal-content{
  border-style: none;
  border: none;
}
div.modal-content button{
  border-style: none;
  border: none;
  outline: none;
}
div.modal-content input{
  outline: none;
  box-shadow: none;
}
div.modal-content select{
  outline: none;
  box-shadow: none;
  height: 35px;
  padding: 0px 5px;
}
div.modal-content input:focus{
  outline: none;
  box-shadow: none;
}
div.modal-content select:focus{
  outline: none;
  box-shadow: none;
}

button.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  box-shadow: none;
  outline: none;
}
button.close:focus {
  box-shadow: none;
  outline: none;
}

div.modal-body label{
  margin-top: 7px;
  margin-bottom: 3px;
  color: #21aa45;
  font-weight: 500;
}
div.modal-body h5{
  margin-top: 7px;
  margin-bottom: 3px;
  color: #484848;
  font-weight: 500;
}

.modal-header{
  background: #21aa45;
  color: white;
}

.modal-footer .btn-cancelar{
  background: #9f9f9f;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  padding: 5px 8px;
  cursor: pointer;
  transition: .3s all ease;
}
.modal-footer .btn-cancelar:hover{
  background: #898989;
}
.modal-footer .btn-guardar{
  background: #21aa45;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  padding: 5px 8px;
  cursor: pointer;
  transition: .3s all ease;
}
.modal-footer .btn-eliminar{
  background: #21aa45;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  padding: 5px 8px;
  cursor: pointer;
  transition: .3s all ease;
}
.modal-footer .btn-eliminar:hover{
  background: #1e9b3f;
}
.modal-footer .btn-guardar:hover{
  background: #1e9b3f;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }